*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav{
    text-align: center;
}
nav ul li{
    display:inline-block;
    padding:30px;
    cursor: pointer;
    color:#083D77;
}
div:nth-child(even){
    background: #F5CCE8
}
div{
     background: #F0F3BD;
     color: #083D77;
     align-items: center;
     text-align: center;
     line-height: 100vh;
     height: 100vh;
     font-size: 30px;
}
#back-to-top{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    right: 10px;
    bottom: 15px;
    border-radius: 50%;
    cursor: pointer;
    

}